In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/question-translation/questions-translation.csv
/kaggle/input/translated-questions/translated_questions.csv
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/train_spider.json
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/train_others.json
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/dev_gold.sql
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/dev.json
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/README.txt
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/train_gold.sql
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/tables.json
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/solvency_ii/solvency_ii.sqlite
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/solvency_ii/schema.sql
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/voter_1/voter_1.sqlite
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/concert_singer/concert_singer.sqlite
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/concert_singer/schema.sql
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/apartment_rentals/apartment_rentals.sqlite
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/apartment_rentals/schema.sql
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/flight_1/flight_1.sqlite
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/flight_1/schema.sql
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/gymnast/gymnast.sqlite
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/gymnast/schema.sql
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/epinions_1/epinions_1.sqlite
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/local_govt_and_lot/local_govt_and_lot.sqlite
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/local_govt_and_lot/schema.sql
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/assets_maintenance/assets_maintenance.sqlite
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/assets_maintenance/schema.sql
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/customers_and_products_contacts/customers_and_products_contacts.sqlite
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/customers_and_products_contacts/schema.sql
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/restaurants/schema.sql
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/restaurants/restaurants.sqlite
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/insurance_policies/insurance_policies.sqlite
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/insurance_policies/schema.sql
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/local_govt_mdm/local_govt_mdm.sqlite
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/local_govt_mdm/schema.sql
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/county_public_safety/county_public_safety.sqlite
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/county_public_safety/schema.sql
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/restaurant_1/schema.sql
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/restaurant_1/restaurant_1.sqlite
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/ship_mission/ship_mission.sqlite
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/ship_mission/schema.sql
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/culture_company/culture_company.sqlite
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/culture_company/schema.sql
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/city_record/city_record.sqlite
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/city_record/schema.sql
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/inn_1/q.txt
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/inn_1/link.txt
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/inn_1/annotation.json
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/inn_1/inn_1.sql
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/inn_1/change_date.py
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/inn_1/inn_1.sqlite
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/inn_1/data_csv/Rooms.csv
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/inn_1/data_csv/README.INN.TXT
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/inn_1/data_csv/Reservations.csv
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/inn_1/data_csv/Reservations_t.csv
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/yelp/schema.sql
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/yelp/yelp.sqlite
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/insurance_and_eClaims/schema.sql
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/insurance_and_eClaims/insurance_and_eClaims.sqlite
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/tracking_grants_for_research/schema.sql
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/tracking_grants_for_research/tracking_grants_for_research.sqlite
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/machine_repair/machine_repair.sqlite
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/machine_repair/schema.sql
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/mountain_photos/mountain_photos.sqlite
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/mountain_photos/schema.sql
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/storm_record/schema.sql
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/storm_record/storm_record.sqlite
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/wedding/wedding.sqlite
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/wedding/schema.sql
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/train_station/schema.sql
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/train_station/train_station.sqlite
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/party_host/party_host.sqlite
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/party_host/schema.sql
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/csu_1/schema.sql
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/csu_1/csu_1.sqlite
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/company_employee/company_employee.sqlite
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/company_employee/schema.sql
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/entertainment_awards/schema.sql
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/entertainment_awards/entertainment_awards.sqlite
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/manufacturer/manufacturer.sqlite
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/manufacturer/schema.sql
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/behavior_monitoring/behavior_monitoring.sqlite
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/behavior_monitoring/schema.sql
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/election_representative/election_representative.sqlite
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/election_representative/schema.sql
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/orchestra/orchestra.sqlite
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/orchestra/schema.sql
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/cre_Doc_Template_Mgt/schema.sql
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/cre_Doc_Template_Mgt/cre_Doc_Template_Mgt.sqlite
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/driving_school/schema.sql
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/driving_school/driving_school.sqlite
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/loan_1/loan_1.sqlite
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/loan_1/schema.sql
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/film_rank/film_rank.sqlite
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/film_rank/schema.sql
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/pilot_record/pilot_record.sqlite
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/pilot_record/schema.sql
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/network_2/schema.sql
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/network_2/network_2.sqlite
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/baseball_1/baseball_1.sqlite
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/baseball_1/schema.sql
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/candidate_poll/candidate_poll.sqlite
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/candidate_poll/schema.sql
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/scientist_1/schema.sql
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/scientist_1/scientist_1.sqlite
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/wrestler/schema.sql
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/wrestler/wrestler.sqlite
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/dog_kennels/schema.sql
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/dog_kennels/dog_kennels.sqlite
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/customers_campaigns_ecommerce/schema.sql
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/customers_campaigns_ecommerce/customers_campaigns_ecommerce.sqlite
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/performance_attendance/performance_attendance.sqlite
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/performance_attendance/schema.sql
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/device/device.sqlite
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/device/schema.sql
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/course_teach/course_teach.sqlite
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/course_teach/schema.sql
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/gas_company/gas_company.sqlite
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/gas_company/schema.sql
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/imdb/imdb.sqlite
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/imdb/schema.sql
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/twitter_1/twitter_1.sqlite
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/twitter_1/queries/postgres-dialects.xml
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/twitter_1/queries/oracle-dialects.xml
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/twitter_1/queries/sqlserver-dialects.xml
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/flight_company/flight_company.sqlite
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/flight_company/schema.sql
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/hr_1/schema.sql
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/hr_1/hr_1.sqlite
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/swimming/swimming.sqlite
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/swimming/schema.sql
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/architecture/architecture.sqlite
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/architecture/schema.sql
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/world_1/world_1.json
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/world_1/world_1.sqlite
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/match_season/schema.sql
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/match_season/match_season.sqlite
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/soccer_1/soccer_1.sqlite
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/soccer_1/schema.sql
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/formula_1/formula_1.splite
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/formula_1/annotation.json
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/formula_1/formula_1.sqlite
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/formula_1/formula_1.sql
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/formula_1/data_csv/races.csv
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/formula_1/data_csv/drivers.csv
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/formula_1/data_csv/constructors.csv
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/formula_1/data_csv/pitStops.csv
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/formula_1/data_csv/status.csv
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/formula_1/data_csv/seasons.csv
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/formula_1/data_csv/constructorStandings.csv
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/formula_1/data_csv/driverStandings.csv
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/formula_1/data_csv/constructorResults.csv
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/formula_1/data_csv/lapTimes.csv
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/formula_1/data_csv/results.csv
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/formula_1/data_csv/circuits.csv
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/formula_1/data_csv/qualifying.csv
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/car_1/car_1.json
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/car_1/q.txt
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/car_1/car_1.sqlite
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/car_1/link.txt
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/car_1/annotation.json
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/car_1/car_1.sql
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/car_1/data_csv/countries.csv
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/car_1/data_csv/cars-data.csv
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/car_1/data_csv/model-list.csv
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/car_1/data_csv/continents.csv
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/car_1/data_csv/car-makers.csv
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/car_1/data_csv/car-names.csv
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/car_1/data_csv/cars.desc
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/car_1/data_csv/README.CARS.TXT
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/university_basketball/schema.sql
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/university_basketball/university_basketball.sqlite
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/body_builder/body_builder.sqlite
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/body_builder/schema.sql
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/railway/schema.sql
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/railway/railway.sqlite
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/medicine_enzyme_interaction/medicine_enzyme_interaction.sqlite
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/medicine_enzyme_interaction/schema.sql
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/tracking_share_transactions/tracking_share_transactions.sqlite
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/tracking_share_transactions/schema.sql
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/musical/schema.sql
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/musical/musical.sqlite
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/tracking_software_problems/tracking_software_problems.sqlite
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/tracking_software_problems/schema.sql
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/academic/academic.sqlite
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/academic/schema.sql
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/products_for_hire/schema.sql
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/products_for_hire/products_for_hire.sqlite
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/roller_coaster/roller_coaster.sqlite
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/roller_coaster/schema.sql
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/tvshow/tvshow.sqlite
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/tvshow/schema.sql
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/college_3/schema.sql
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/college_3/college_3.sqlite
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/cinema/cinema.sqlite
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/cinema/schema.sql
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/college_2/link.txt
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/college_2/college_2.sqlite
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/college_2/TextBookExampleSchema.sql
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/tracking_orders/schema.sql
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/tracking_orders/tracking_orders.sqlite
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/school_bus/school_bus.sqlite
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/school_bus/schema.sql
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/riding_club/riding_club.sqlite
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/riding_club/schema.sql
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/geo/geo.sqlite
/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database/geo/schema.sql

In [2]:
pip install transformers sentencepiece sacremoses

Requirement already satisfied: transformers in /usr/local/lib/python3.10/dist-packages (4.47.0)
Requirement already satisfied: sentencepiece in /usr/local/lib/python3.10/dist-packages (0.2.0)
Collecting sacremoses
  Downloading sacremoses-0.1.1-py3-none-any.whl.metadata (8.3 kB)
Requirement already satisfied: filelock in /usr/local/lib/python3.10/dist-packages (from transformers) (3.17.0)
Requirement already satisfied: huggingface-hub<1.0,>=0.24.0 in /usr/local/lib/python3.10/dist-packages (from transformers) (0.29.0)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.10/dist-packages (from transformers) (1.26.4)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from transformers) (24.2)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.10/dist-packages (from transformers) (6.0.2)
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.10/dist-packages (from transformers) (2024.11.6)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from transformers) (2.32.3)
Requirement already satisfied: tokenizers<0.22,>=0.21 in /usr/local/lib/python3.10/dist-packages (from transformers) (0.21.0)
Requirement already satisfied: safetensors>=0.4.1 in /usr/local/lib/python3.10/dist-packages (from transformers) (0.4.5)
Requirement already satisfied: tqdm>=4.27 in /usr/local/lib/python3.10/dist-packages (from transformers) (4.67.1)
Requirement already satisfied: click in /usr/local/lib/python3.10/dist-packages (from sacremoses) (8.1.7)
Requirement already satisfied: joblib in /usr/local/lib/python3.10/dist-packages (from sacremoses) (1.4.2)
Requirement already satisfied: fsspec>=2023.5.0 in /usr/local/lib/python3.10/dist-packages (from huggingface-hub<1.0,>=0.24.0->transformers) (2024.12.0)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.10/dist-packages (from huggingface-hub<1.0,>=0.24.0->transformers) (4.12.2)
Requirement already satisfied: mkl_fft in /usr/local/lib/python3.10/dist-packages (from numpy>=1.17->transformers) (1.3.8)
Requirement already satisfied: mkl_random in /usr/local/lib/python3.10/dist-packages (from numpy>=1.17->transformers) (1.2.4)
Requirement already satisfied: mkl_umath in /usr/local/lib/python3.10/dist-packages (from numpy>=1.17->transformers) (0.1.1)
Requirement already satisfied: mkl in /usr/local/lib/python3.10/dist-packages (from numpy>=1.17->transformers) (2025.0.1)
Requirement already satisfied: tbb4py in /usr/local/lib/python3.10/dist-packages (from numpy>=1.17->transformers) (2022.0.0)
Requirement already satisfied: mkl-service in /usr/local/lib/python3.10/dist-packages (from numpy>=1.17->transformers) (2.4.1)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->transformers) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->transformers) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->transformers) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->transformers) (2025.1.31)
Requirement already satisfied: intel-openmp>=2024 in /usr/local/lib/python3.10/dist-packages (from mkl->numpy>=1.17->transformers) (2024.2.0)
Requirement already satisfied: tbb==2022.* in /usr/local/lib/python3.10/dist-packages (from mkl->numpy>=1.17->transformers) (2022.0.0)
Requirement already satisfied: tcmlib==1.* in /usr/local/lib/python3.10/dist-packages (from tbb==2022.*->mkl->numpy>=1.17->transformers) (1.2.0)
Requirement already satisfied: intel-cmplr-lib-rt in /usr/local/lib/python3.10/dist-packages (from mkl_umath->numpy>=1.17->transformers) (2024.2.0)
Requirement already satisfied: intel-cmplr-lib-ur==2024.2.0 in /usr/local/lib/python3.10/dist-packages (from intel-openmp>=2024->mkl->numpy>=1.17->transformers) (2024.2.0)
Downloading sacremoses-0.1.1-py3-none-any.whl (897 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 897.5/897.5 kB 14.7 MB/s eta 0:00:00a 0:00:01
Installing collected packages: sacremoses
Successfully installed sacremoses-0.1.1
Note: you may need to restart the kernel to use updated packages.

In [3]:
!pip install torch transformers bitsandbytes accelerate sqlparse

Requirement already satisfied: torch in /usr/local/lib/python3.10/dist-packages (2.5.1+cu121)
Requirement already satisfied: transformers in /usr/local/lib/python3.10/dist-packages (4.47.0)
Collecting bitsandbytes
  Downloading bitsandbytes-0.45.5-py3-none-manylinux_2_24_x86_64.whl.metadata (5.0 kB)
Requirement already satisfied: accelerate in /usr/local/lib/python3.10/dist-packages (1.2.1)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.10/dist-packages (0.5.3)
Requirement already satisfied: filelock in /usr/local/lib/python3.10/dist-packages (from torch) (3.17.0)
Requirement already satisfied: typing-extensions>=4.8.0 in /usr/local/lib/python3.10/dist-packages (from torch) (4.12.2)
Requirement already satisfied: networkx in /usr/local/lib/python3.10/dist-packages (from torch) (3.4.2)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.10/dist-packages (from torch) (3.1.4)
Requirement already satisfied: fsspec in /usr/local/lib/python3.10/dist-packages (from torch) (2024.12.0)
Requirement already satisfied: sympy==1.13.1 in /usr/local/lib/python3.10/dist-packages (from torch) (1.13.1)
Requirement already satisfied: mpmath<1.4,>=1.1.0 in /usr/local/lib/python3.10/dist-packages (from sympy==1.13.1->torch) (1.3.0)
Requirement already satisfied: huggingface-hub<1.0,>=0.24.0 in /usr/local/lib/python3.10/dist-packages (from transformers) (0.29.0)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.10/dist-packages (from transformers) (1.26.4)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from transformers) (24.2)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.10/dist-packages (from transformers) (6.0.2)
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.10/dist-packages (from transformers) (2024.11.6)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from transformers) (2.32.3)
Requirement already satisfied: tokenizers<0.22,>=0.21 in /usr/local/lib/python3.10/dist-packages (from transformers) (0.21.0)
Requirement already satisfied: safetensors>=0.4.1 in /usr/local/lib/python3.10/dist-packages (from transformers) (0.4.5)
Requirement already satisfied: tqdm>=4.27 in /usr/local/lib/python3.10/dist-packages (from transformers) (4.67.1)
Requirement already satisfied: psutil in /usr/local/lib/python3.10/dist-packages (from accelerate) (5.9.5)
Requirement already satisfied: mkl_fft in /usr/local/lib/python3.10/dist-packages (from numpy>=1.17->transformers) (1.3.8)
Requirement already satisfied: mkl_random in /usr/local/lib/python3.10/dist-packages (from numpy>=1.17->transformers) (1.2.4)
Requirement already satisfied: mkl_umath in /usr/local/lib/python3.10/dist-packages (from numpy>=1.17->transformers) (0.1.1)
Requirement already satisfied: mkl in /usr/local/lib/python3.10/dist-packages (from numpy>=1.17->transformers) (2025.0.1)
Requirement already satisfied: tbb4py in /usr/local/lib/python3.10/dist-packages (from numpy>=1.17->transformers) (2022.0.0)
Requirement already satisfied: mkl-service in /usr/local/lib/python3.10/dist-packages (from numpy>=1.17->transformers) (2.4.1)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from jinja2->torch) (3.0.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->transformers) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->transformers) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->transformers) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->transformers) (2025.1.31)
Requirement already satisfied: intel-openmp>=2024 in /usr/local/lib/python3.10/dist-packages (from mkl->numpy>=1.17->transformers) (2024.2.0)
Requirement already satisfied: tbb==2022.* in /usr/local/lib/python3.10/dist-packages (from mkl->numpy>=1.17->transformers) (2022.0.0)
Requirement already satisfied: tcmlib==1.* in /usr/local/lib/python3.10/dist-packages (from tbb==2022.*->mkl->numpy>=1.17->transformers) (1.2.0)
Requirement already satisfied: intel-cmplr-lib-rt in /usr/local/lib/python3.10/dist-packages (from mkl_umath->numpy>=1.17->transformers) (2024.2.0)
Requirement already satisfied: intel-cmplr-lib-ur==2024.2.0 in /usr/local/lib/python3.10/dist-packages (from intel-openmp>=2024->mkl->numpy>=1.17->transformers) (2024.2.0)
Downloading bitsandbytes-0.45.5-py3-none-manylinux_2_24_x86_64.whl (76.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 76.1/76.1 MB 21.7 MB/s eta 0:00:00:00:0100:01
Installing collected packages: bitsandbytes
Successfully installed bitsandbytes-0.45.5

In [4]:
!pip install torch transformers bitsandbytes accelerate sqlparse 

import torch
from transformers import AutoTokenizer, AutoModelForCausalLM
import re

model_name = "Rahmaa33/MotherDuckTEXT2SQLLArabicc"
tokenizer = AutoTokenizer.from_pretrained(model_name)
model = AutoModelForCausalLM.from_pretrained(
    model_name,
    trust_remote_code=True,
    torch_dtype=torch.float16,
    device_map="auto",
    use_cache=True,
)

Requirement already satisfied: torch in /usr/local/lib/python3.10/dist-packages (2.5.1+cu121)
Requirement already satisfied: transformers in /usr/local/lib/python3.10/dist-packages (4.47.0)
Requirement already satisfied: bitsandbytes in /usr/local/lib/python3.10/dist-packages (0.45.5)
Requirement already satisfied: accelerate in /usr/local/lib/python3.10/dist-packages (1.2.1)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.10/dist-packages (0.5.3)
Requirement already satisfied: filelock in /usr/local/lib/python3.10/dist-packages (from torch) (3.17.0)
Requirement already satisfied: typing-extensions>=4.8.0 in /usr/local/lib/python3.10/dist-packages (from torch) (4.12.2)
Requirement already satisfied: networkx in /usr/local/lib/python3.10/dist-packages (from torch) (3.4.2)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.10/dist-packages (from torch) (3.1.4)
Requirement already satisfied: fsspec in /usr/local/lib/python3.10/dist-packages (from torch) (2024.12.0)
Requirement already satisfied: sympy==1.13.1 in /usr/local/lib/python3.10/dist-packages (from torch) (1.13.1)
Requirement already satisfied: mpmath<1.4,>=1.1.0 in /usr/local/lib/python3.10/dist-packages (from sympy==1.13.1->torch) (1.3.0)
Requirement already satisfied: huggingface-hub<1.0,>=0.24.0 in /usr/local/lib/python3.10/dist-packages (from transformers) (0.29.0)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.10/dist-packages (from transformers) (1.26.4)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from transformers) (24.2)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.10/dist-packages (from transformers) (6.0.2)
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.10/dist-packages (from transformers) (2024.11.6)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from transformers) (2.32.3)
Requirement already satisfied: tokenizers<0.22,>=0.21 in /usr/local/lib/python3.10/dist-packages (from transformers) (0.21.0)
Requirement already satisfied: safetensors>=0.4.1 in /usr/local/lib/python3.10/dist-packages (from transformers) (0.4.5)
Requirement already satisfied: tqdm>=4.27 in /usr/local/lib/python3.10/dist-packages (from transformers) (4.67.1)
Requirement already satisfied: psutil in /usr/local/lib/python3.10/dist-packages (from accelerate) (5.9.5)
Requirement already satisfied: mkl_fft in /usr/local/lib/python3.10/dist-packages (from numpy>=1.17->transformers) (1.3.8)
Requirement already satisfied: mkl_random in /usr/local/lib/python3.10/dist-packages (from numpy>=1.17->transformers) (1.2.4)
Requirement already satisfied: mkl_umath in /usr/local/lib/python3.10/dist-packages (from numpy>=1.17->transformers) (0.1.1)
Requirement already satisfied: mkl in /usr/local/lib/python3.10/dist-packages (from numpy>=1.17->transformers) (2025.0.1)
Requirement already satisfied: tbb4py in /usr/local/lib/python3.10/dist-packages (from numpy>=1.17->transformers) (2022.0.0)
Requirement already satisfied: mkl-service in /usr/local/lib/python3.10/dist-packages (from numpy>=1.17->transformers) (2.4.1)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from jinja2->torch) (3.0.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->transformers) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->transformers) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->transformers) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->transformers) (2025.1.31)
Requirement already satisfied: intel-openmp>=2024 in /usr/local/lib/python3.10/dist-packages (from mkl->numpy>=1.17->transformers) (2024.2.0)
Requirement already satisfied: tbb==2022.* in /usr/local/lib/python3.10/dist-packages (from mkl->numpy>=1.17->transformers) (2022.0.0)
Requirement already satisfied: tcmlib==1.* in /usr/local/lib/python3.10/dist-packages (from tbb==2022.*->mkl->numpy>=1.17->transformers) (1.2.0)
Requirement already satisfied: intel-cmplr-lib-rt in /usr/local/lib/python3.10/dist-packages (from mkl_umath->numpy>=1.17->transformers) (2024.2.0)
Requirement already satisfied: intel-cmplr-lib-ur==2024.2.0 in /usr/local/lib/python3.10/dist-packages (from intel-openmp>=2024->mkl->numpy>=1.17->transformers) (2024.2.0)

tokenizer_config.json:   0%|          | 0.00/1.90k [00:00<?, ?B/s]

tokenizer.model:   0%|          | 0.00/500k [00:00<?, ?B/s]

tokenizer.json:   0%|          | 0.00/3.62M [00:00<?, ?B/s]

special_tokens_map.json:   0%|          | 0.00/538 [00:00<?, ?B/s]

adapter_config.json:   0%|          | 0.00/729 [00:00<?, ?B/s]

config.json:   0%|          | 0.00/715 [00:00<?, ?B/s]

model.safetensors.index.json:   0%|          | 0.00/23.9k [00:00<?, ?B/s]

Downloading shards:   0%|          | 0/3 [00:00<?, ?it/s]

model-00001-of-00003.safetensors:   0%|          | 0.00/4.94G [00:00<?, ?B/s]

model-00002-of-00003.safetensors:   0%|          | 0.00/4.95G [00:00<?, ?B/s]

model-00003-of-00003.safetensors:   0%|          | 0.00/3.59G [00:00<?, ?B/s]

Loading checkpoint shards:   0%|          | 0/3 [00:00<?, ?it/s]

generation_config.json:   0%|          | 0.00/132 [00:00<?, ?B/s]

adapter_model.safetensors:   0%|          | 0.00/33.6M [00:00<?, ?B/s]

In [5]:
import pandas as pd
translation_path = "/kaggle/input/question-translation/questions-translation.csv"
df = pd.read_csv(translation_path)
df.head()

,question,translation
0,How many heads of the departments are older th...,كم رئيسًا للأقسام هم أكبر من 56 سنة؟
1,"List the name, born state and age of the heads...",قائمة بأسماء رؤساء الأقسام، مكان ميلادهم، وأعم...
2,"List the creation year, name and budget of eac...",قائمة بسنوات الإنشاء، وأسماء وميزانيات كل قسم.
3,What are the maximum and minimum budget of the...,ما هي أقصى وأدنى ميزانية للأقسام؟
4,What is the average number of employees of the...,ما هو المتوسط ​​لعدد الموظفين في الأقسام الذين...

In [6]:
import re
def process(record):
    if not isinstance(record['translation'], str):
        return record
    
    record['translation'] = re.sub(re.compile(r'\[Translation]\s*'), '', record['translation'])
    record['translation'] = re.sub(re.compile(r'\[Question]\s*'), '', record['translation'])
    return record
df_processed = df.apply(process, axis=1)
df_processed.head()

,question,translation
0,How many heads of the departments are older th...,كم رئيسًا للأقسام هم أكبر من 56 سنة؟
1,"List the name, born state and age of the heads...",قائمة بأسماء رؤساء الأقسام، مكان ميلادهم، وأعم...
2,"List the creation year, name and budget of eac...",قائمة بسنوات الإنشاء، وأسماء وميزانيات كل قسم.
3,What are the maximum and minimum budget of the...,ما هي أقصى وأدنى ميزانية للأقسام؟
4,What is the average number of employees of the...,ما هو المتوسط ​​لعدد الموظفين في الأقسام الذين...

In [7]:
import json
spider_db_path = "/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database"
spider_train_path = "/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/train_spider.json"

with open(spider_train_path, "r") as f:
    data = json.load(f)
    
data[0]

{'db_id': 'department_management',
 'query': 'SELECT count(*) FROM head WHERE age  >  56',
 'query_toks': ['SELECT',
  'count',
  '(',
  '*',
  ')',
  'FROM',
  'head',
  'WHERE',
  'age',
  '>',
  '56'],
 'query_toks_no_value': ['select',
  'count',
  '(',
  '*',
  ')',
  'from',
  'head',
  'where',
  'age',
  '>',
  'value'],
 'question': 'How many heads of the departments are older than 56 ?',
 'question_toks': ['How',
  'many',
  'heads',
  'of',
  'the',
  'departments',
  'are',
  'older',
  'than',
  '56',
  '?'],
 'sql': {'except': None,
  'from': {'conds': [], 'table_units': [['table_unit', 1]]},
  'groupBy': [],
  'having': [],
  'intersect': None,
  'limit': None,
  'orderBy': [],
  'select': [False, [[3, [0, [0, 0, False], None]]]],
  'union': None,
  'where': [[False, 3, [0, [0, 10, False], None], 56.0, None]]}}

In [9]:
import os
import sqlite3
import torch
import re

# You should define the path to your Spider databases here.
# For example: spider_db_path = "/path/to/spider/databases"

def get_conn(db_id: str):
    """
    Establish a connection to the SQLite database specified by db_id.
    """
    db_file = f"{db_id}.sqlite"
    db_path = os.path.join(spider_db_path, db_id, db_file)
    conn = sqlite3.connect(db_path)
    return conn

def get_db_schema(conn) -> str:
    """
    Retrieve and concatenate the SQL creation statements for all tables
    in the connected SQLite database, effectively yielding its schema.
    """
    res = conn.execute("SELECT * FROM sqlite_master").fetchall()
    schema = ""
    for d in res:
        if d[-1] is None:
            continue
        schema += f"{d[-1]}\n\n"
    return schema

def inference(question: str, schema: str) -> str:
    """
    Generate an SQL query that answers the given question, based on a specified SQLite schema.

    This function uses a pre-trained text generation model and tokenizer (assumed to be
    defined globally or in the current scope as `model` and `tokenizer`) to produce an SQL
    query. The resulting query is then adapted from potential PostgreSQL-specific syntax
    to SQLite-compatible syntax.

    Args:
        question (str): The natural language question to convert to an SQL query.
        schema (str): The SQLite database schema, provided as a string.

    Returns:
        str: A single SQL query (as a string) that can be run against the specified SQLite database.
    """
    # Construct the prompt used by the model.
    prompt = (
        "### Examples\n"
        "Some example questions and corresponding SQL queries are provided based on similar problems:\n"
        "Answer the following: ما هو عدد المستخدمين المسجلين في التطبيق؟\n"
        "SELECT COUNT(*) FROM users;\n\n"
        "### Instructions:\n"
        "Your task is convert a question into a SQL query, given a sqlite database schema.\n"
        "Adhere to these rules:\n"
        "- **Deliberately go through the question and database schema word by word** to appropriately answer the question\n"
        "- **Use Table Aliases** to prevent ambiguity. For example, `SELECT table1.col1, table2.col1 FROM table1 JOIN table2 ON table1.id = table2.id`.\n"
        "- When creating a ratio, always cast the numerator as float\n"
        "- **Use only one column per sql query**\n\n"
        "### Input:\n"
        f"Generate a SQL query that answers the question `{question}`.\n"
        "This query will run on a database whose schema is represented in this string:\n"
        f"{schema}\n"
        "### Response:\n"
        f"Based on your instructions, here is the SQL query I have generated to answer the question `{question}`:\n"
        "```sql\n"
    )

    # These variables (model and tokenizer) need to be defined or imported from your environment.
    eos_token_id = tokenizer.eos_token_id
    inputs = tokenizer(prompt, return_tensors="pt").to("cuda")

    # Generate the SQL query from the model.
    generated_ids = model.generate(
        **inputs,
        num_return_sequences=1,
        eos_token_id=eos_token_id,
        pad_token_id=eos_token_id,
        max_new_tokens=400,
        do_sample=False,
    )
    outputs = tokenizer.batch_decode(generated_ids, skip_special_tokens=True)

    # Clear CUDA cache and synchronize (optional but sometimes helpful).
    torch.cuda.empty_cache()
    torch.cuda.synchronize()

    def convert_postgres_to_sqlite(query_text: str) -> str:
        """
        Convert any PostgreSQL-specific syntax in the query to be SQLite-compliant.

        Args:
            query_text (str): The SQL query string to be modified.

        Returns:
            str: A version of the query compatible with SQLite.
        """
        substitutions = [
            (r'ilike', 'LIKE'),
            (r'serial\s*$', 'INTEGER PRIMARY KEY AUTOINCREMENT'),
            (r'start\s+with\s+(\d+)', 'CHECK (id >= \\1)'),
        ]

        for pattern, replacement in substitutions:
            query_text = re.sub(pattern, replacement, query_text, flags=re.IGNORECASE)
        return query_text

    # Extract the query content from the generated output.
    # The generated text may look like: "...```sql\nSELECT ...\n```".
    postgres_query = outputs[0].split("```sql")[-1].rstrip("```")

    # Convert potential PostgreSQL-specific syntax to SQLite.
    query = convert_postgres_to_sqlite(postgres_query)

    return query

In [10]:
def compare_sql(gold: str, gen: str, conn, is_ordered=False):
    try:
        gold_res = pd.read_sql(gold, conn)
    except Exception as _:
        print("[Ground Fail]", gold)
        return 1

    try:
        gen_res = pd.read_sql(gen, conn)
    except Exception as _:
        print("[Gen Fail]", gen)
        return 0

    accuracy = 0
    if (len(gold_res)) == 0:
        return 1 if len(gen_res) == 0 else 0
    
    gold_len = len(gold_res)
    gen_len = len(gen_res)
    for i in range(min(gold_len, gen_len)):
        gold_record = gold_res.values[i]
        
        if not is_ordered:
            try:
                is_match = gold_record in gen_res.values
            except:
                is_match = False
        else:
            is_match = gold_record == gen_res.values[i]
            if (type(is_match) != bool):
                is_match = is_match.all()
                
        if is_match:
            accuracy += 1

    return accuracy / len(gold_res)

In [11]:
import sqlparse
from transformers import MarianMTModel, MarianTokenizer

# Load Marian NMT model for English-Arabic translation
def translate(text: str, src_lang="ar", tgt_lang="en") -> str:
    """Translate Arabic text to English using Marian NMT (Open Source)."""
    model_name = f"Helsinki-NLP/opus-mt-{src_lang}-{tgt_lang}"
    tokenizer = MarianTokenizer.from_pretrained(model_name)
    model = MarianMTModel.from_pretrained(model_name)

    inputs = tokenizer(text, return_tensors="pt", padding=True, truncation=True)
    translated = model.generate(**inputs)
    return tokenizer.decode(translated[0], skip_special_tokens=True)

In [12]:
import sqlparse
import nltk
from nltk.translate.bleu_score import sentence_bleu

# Initialize BLEU score
nltk.download('punkt')

# Evaluation parameters
NUM_EVAL = 100
total_accuracy = 0
total_execution_accuracy = 0
total_bleu_score = 0

for i, h in enumerate(data):
    if i >= NUM_EVAL:
        break
        
    db_id = h['db_id']
    conn = get_conn(db_id)  # Fetch database connection
    schema = get_db_schema(conn)  # Get database schema

    # Use Marian NMT for Arabic-English translation
    arabic_question = df.iloc[i]['translation']
    english_translation = translate(arabic_question)

    # Generate SQL query
    gen = inference(english_translation, schema)
    gold = h['query']



    # Execute queries and compare results (Execution Accuracy)
    execution_accuracy = compare_sql(gold, gen, conn)
    total_execution_accuracy += execution_accuracy

    # Compute BLEU score
    # Tokenize the SQL queries into words for BLEU evaluation
    gold_tokens = nltk.word_tokenize(gold)
    gen_tokens = nltk.word_tokenize(gen)
    bleu_score = sentence_bleu([gold_tokens], gen_tokens)
    total_bleu_score += bleu_score

    # Print evaluation results
    format_gold = sqlparse.format(gold, reindent=True)
    format_gen = sqlparse.format(gen, reindent=True)

    print(f"[{i}] Accuracy: {execution_accuracy * 100}%\n> Question: {english_translation}\n> Ground:\n{format_gold}\n\n> Gen:\n{format_gen}\n")
    print(f"BLEU Score: {bleu_score}\n")

# Compute final accuracy
final_accuracy = total_accuracy / NUM_EVAL
final_execution_accuracy = total_execution_accuracy / NUM_EVAL
final_bleu_score = total_bleu_score / NUM_EVAL

print(f"Final Execution Accuracy: {final_execution_accuracy * 100}%")
print(f"Final BLEU Score: {final_bleu_score}")

[nltk_data] Downloading package punkt to /usr/share/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

tokenizer_config.json:   0%|          | 0.00/42.0 [00:00<?, ?B/s]

source.spm:   0%|          | 0.00/917k [00:00<?, ?B/s]

target.spm:   0%|          | 0.00/802k [00:00<?, ?B/s]

vocab.json:   0%|          | 0.00/2.13M [00:00<?, ?B/s]

config.json:   0%|          | 0.00/1.38k [00:00<?, ?B/s]

pytorch_model.bin:   0%|          | 0.00/308M [00:00<?, ?B/s]

generation_config.json:   0%|          | 0.00/293 [00:00<?, ?B/s]

[0] Accuracy: 100.0%
> Question: How many department heads are older than 56 years?
> Ground:
SELECT count(*)
FROM head
WHERE age > 56

> Gen:

SELECT COUNT(*)
FROM head
WHERE age > 56;

BLEU Score: 0.7292571723872933

/usr/local/lib/python3.10/dist-packages/nltk/translate/bleu_score.py:490: UserWarning:
Corpus/Sentence contains 0 counts of 3-gram overlaps.
BLEU scores might be undesirable; use SmoothingFunction().
  warnings.warn(_msg)

[1] Accuracy: 40.0%
> Question: A list of department heads, their place of birth, and their age by age.
> Ground:
SELECT name,
       born_state,
       age
FROM head
ORDER BY age

> Gen:

SELECT DISTINCT T1.name,
                T1.born_state,
                T1.age
FROM head AS T1
JOIN management AS T2 ON T1.head_ID = T2.head_ID
JOIN department AS T3 ON T2.department_ID = T3.Department_ID
ORDER BY T1.age NULLS FIRST

BLEU Score: 0.34467048151513185

Error during conversion: ChunkedEncodingError(ProtocolError('Response ended prematurely'))

[Gen Fail]
 SELECT T1.year, T1.name, T1.budget FROM department AS T1 JOIN management AS T2 ON T1.Department_ID = T2.department_ID JOIN head AS T3 ON T2.head_ID = T3.head_ID WHERE T1.year BETWEEN 2000 AND 2010;
[2] Accuracy: 0%
> Question: List of years of construction, names and budgets of each section.
> Ground:
SELECT creation,
       name,
       budget_in_billions
FROM department

> Gen:

SELECT T1.year,
       T1.name,
       T1.budget
FROM department AS T1
JOIN management AS T2 ON T1.Department_ID = T2.department_ID
JOIN head AS T3 ON T2.head_ID = T3.head_ID
WHERE T1.year BETWEEN 2000 AND 2010;

BLEU Score: 0.2623170511430729

Error during conversion: ChunkedEncodingError(ProtocolError('Response ended prematurely'))
/usr/local/lib/python3.10/dist-packages/nltk/translate/bleu_score.py:490: UserWarning:
Corpus/Sentence contains 0 counts of 4-gram overlaps.
BLEU scores might be undesirable; use SmoothingFunction().
  warnings.warn(_msg)

[3] Accuracy: 100.0%
> Question: What's the maximum and lowest budget for the departments?
> Ground:
SELECT max(budget_in_billions),
       min(budget_in_billions)
FROM department

> Gen:

SELECT MAX(Budget_in_Billions),
       MIN(Budget_in_Billions)
FROM department;

BLEU Score: 0.3438931217657843

Error during conversion: ChunkedEncodingError(ProtocolError('Response ended prematurely'))

[4] Accuracy: 100.0%
> Question: What is the average number of staff in the sections who rank between 10 and 15?
> Ground:
SELECT avg(num_employees)
FROM department
WHERE ranking BETWEEN 10 AND 15

> Gen:

SELECT AVG(Num_Employees)
FROM department
WHERE Ranking BETWEEN 10 AND 15;

BLEU Score: 0.3759663529467017

[5] Accuracy: 100.0%
> Question: What are the names of department heads born outside California?
> Ground:
SELECT name
FROM head
WHERE born_state != 'California'

> Gen:

SELECT name
FROM head
WHERE born_state != 'California';

BLEU Score: 0.8931539818068694

[6] Accuracy: 100.0%
> Question: What are the distinctive years of construction of sections run by a secretary born in the state of Alabama?
> Ground:
SELECT DISTINCT T1.creation
FROM department AS T1
JOIN management AS T2 ON T1.department_id = T2.department_id
JOIN head AS T3 ON T2.head_id = T3.head_id
WHERE T3.born_state = 'Alabama'

> Gen:

SELECT DISTINCT T1.Creation
FROM department AS T1
JOIN management AS T2 ON T1.Department_ID = T2.department_ID
JOIN head AS T3 ON T2.head_ID = T3.head_ID
WHERE T3.born_state = 'Alabama';

BLEU Score: 0.5464579418466106

[7] Accuracy: 0.0%
> Question: What are the names of the states where at least three presidents were born?
> Ground:
SELECT born_state
FROM head
GROUP BY born_state
HAVING count(*) >= 3

> Gen:

SELECT T1.Name
FROM department AS T1
JOIN head AS T2 ON T1.Department_ID = T2.head_ID
GROUP BY T2.born_state
HAVING COUNT(*) >= 3;

BLEU Score: 0.22152121615450707

[8] Accuracy: 100.0%
> Question: What year has most of the departments been set up?
> Ground:
SELECT creation
FROM department
GROUP BY creation
ORDER BY count(*) DESC
LIMIT 1

> Gen:

SELECT Creation,
       COUNT(*)
FROM department
GROUP BY Creation
ORDER BY COUNT(*) DESC
LIMIT 1;

BLEU Score: 0.35562549056277243

Error during conversion: ChunkedEncodingError(ProtocolError('Response ended prematurely'))

[Gen Fail]
 SELECT h.name, d.Num_Employees FROM head h JOIN management m ON h.head_ID = m.head_ID JOIN department d ON m.department_ID = d.Department_ID WHERE h.behavioral_status = 'Yes' AND d.Ranking > 5;
[9] Accuracy: 0%
> Question: Presentation of the name and number of staff for the sections run by the IT chiefs whose behavioral status is 'Yes'?
> Ground:
SELECT T1.name,
       T1.num_employees
FROM department AS T1
JOIN management AS T2 ON T1.department_id = T2.department_id
WHERE T2.temporary_acting = 'Yes'

> Gen:

SELECT h.name,
       d.Num_Employees
FROM head h
JOIN management m ON h.head_ID = m.head_ID
JOIN department d ON m.department_ID = d.Department_ID
WHERE h.behavioral_status = 'Yes'
  AND d.Ranking > 5;

BLEU Score: 0.19114167548796013

[10] Accuracy: 0.0%
> Question: How many actresses?
> Ground:
SELECT count(DISTINCT temporary_acting)
FROM management

> Gen:

SELECT COUNT(*)
FROM head
WHERE age > 30;

BLEU Score: 0.41722614486115056

Error during conversion: ChunkedEncodingError(ProtocolError('Response ended prematurely'))

[11] Accuracy: 100.0%
> Question: How many departments are run by heads whose names aren't mentioned?
> Ground:
SELECT count(*)
FROM department
WHERE department_id NOT IN
    (SELECT department_id
     FROM management);

> Gen:

SELECT COUNT(*)
FROM department
WHERE NOT Department_ID IN
    (SELECT department_ID
     FROM management);

BLEU Score: 0.48902285358301995

Error during conversion: ChunkedEncodingError(ProtocolError('Response ended prematurely'))

[12] Accuracy: 100.0%
> Question: What are the distinct ages of department heads playing a role?
> Ground:
SELECT DISTINCT T1.age
FROM management AS T2
JOIN head AS T1 ON T1.head_id = T2.head_id
WHERE T2.temporary_acting = 'Yes'

> Gen:

SELECT DISTINCT T1.age
FROM head AS T1
JOIN management AS T2 ON T1.head_ID = T2.head_ID;

BLEU Score: 0.23530495254141282

/usr/local/lib/python3.10/dist-packages/nltk/translate/bleu_score.py:490: UserWarning:
Corpus/Sentence contains 0 counts of 4-gram overlaps.
BLEU scores might be undesirable; use SmoothingFunction().
  warnings.warn(_msg)

[13] Accuracy: 0.0%
> Question: Show a list of states in which 'Treasury &apos; and 'Homeland Security &apos; were born.
> Ground:
SELECT T3.born_state
FROM department AS T1
JOIN management AS T2 ON T1.department_id = T2.department_id
JOIN head AS T3 ON T2.head_id = T3.head_id
WHERE T1.name = 'Treasury' INTERSECT
  SELECT T3.born_state
  FROM department AS T1
  JOIN management AS T2 ON T1.department_id = T2.department_id
  JOIN head AS T3 ON T2.head_id = T3.head_id WHERE T1.name = 'Homeland Security'

> Gen:

SELECT T1.born_state
FROM head AS T1
JOIN department AS T2 ON T1.head_ID = T2.Department_ID
WHERE T2.Name = 'Treasury &apos;' INTERSECT
  SELECT T1.born_state
  FROM head AS T1
  JOIN department AS T2 ON T1.head_ID = T2.Department_ID WHERE T2.Name = 'Homeland Security &apos;'

BLEU Score: 0.35008212632842817

[14] Accuracy: 100.0%
> Question: Which department has more than one president at the same time? Show a list of the identification number, name, number of presidents.
> Ground:
SELECT T1.department_id,
       T1.name,
       count(*)
FROM management AS T2
JOIN department AS T1 ON T1.department_id = T2.department_id
GROUP BY T1.department_id
HAVING count(*) > 1

> Gen:

SELECT T1.Department_ID,
       T1.Name,
       COUNT(*) as Number_of_Presidents
FROM management AS T2
JOIN department AS T1 ON T1.Department_ID = T2.department_ID
GROUP BY T1.Department_ID
HAVING COUNT(*) > 1;

BLEU Score: 0.4107429906952484

Error during conversion: ChunkedEncodingError(ProtocolError('Response ended prematurely'))

[15] Accuracy: 100.0%
> Question: A boss with a name that contains a variable 'Ha'? Show a list of the identification number and name.
> Ground:
SELECT head_id,
       name
FROM head
WHERE name LIKE '%Ha%'

> Gen:

SELECT head_ID,
       name
FROM head
WHERE name LIKE '%Ha%'

BLEU Score: 0.855526185871245

[16] Accuracy: 100.0%
> Question: How many farms are there?
> Ground:
SELECT count(*)
FROM farm

> Gen:

SELECT COUNT(*)
FROM farm;

BLEU Score: 0.5410822690539396

Error during conversion: ChunkedEncodingError(ProtocolError('Response ended prematurely'))

[17] Accuracy: 0.0%
> Question: Count the farmer.
> Ground:
SELECT count(*)
FROM farm

> Gen:

SELECT COUNT(*)
FROM farm
WHERE Farm_ID = 1;

BLEU Score: 0.33180774028439425

/usr/local/lib/python3.10/dist-packages/nltk/translate/bleu_score.py:490: UserWarning:
Corpus/Sentence contains 0 counts of 3-gram overlaps.
BLEU scores might be undesirable; use SmoothingFunction().
  warnings.warn(_msg)

[18] Accuracy: 100.0%
> Question: Show a list of the total number of horses on the farms in upward order.
> Ground:
SELECT Total_Horses
FROM farm
ORDER BY Total_Horses ASC

> Gen:

SELECT Year,
       SUM(Total_Horses)
FROM farm
GROUP BY Year
ORDER BY Year ASC;

BLEU Score: 0.4763100914774508

[19] Accuracy: 100.0%
> Question: What's the total horse register for each farm, progressively arranged?
> Ground:
SELECT Total_Horses
FROM farm
ORDER BY Total_Horses ASC

> Gen:

SELECT Farm_ID,
       Year,
       Total_Horses
FROM farm
ORDER BY Year NULLS FIRST;

BLEU Score: 0.27824623288353134

[20] Accuracy: 100.0%
> Question: What are the hosts of the competitions that aren't the subject of "Aliens"?
> Ground:
SELECT Hosts
FROM farm_competition
WHERE Theme != 'Aliens'

> Gen:

SELECT Hosts
FROM farm_competition
WHERE Theme NOT LIKE '%Aliens%'

BLEU Score: 0.3955332535877179

Error during conversion: ChunkedEncodingError(ProtocolError('Response ended prematurely'))

[21] Accuracy: 0.0%
> Question: Returning hosts to competitions that aren't the subject of aliens?
> Ground:
SELECT Hosts
FROM farm_competition
WHERE Theme != 'Aliens'

> Gen:

SELECT T1.Official_Name
FROM city AS T1
JOIN farm_competition AS T2 ON T1.City_ID = T2.Host_city_ID
WHERE T2.Theme <> 'Aliens'

BLEU Score: 0.36840762547436395

[22] Accuracy: 100.0%
> Question: What subjects were organized in farm competitions arranged by year in upward order?
> Ground:
SELECT Theme
FROM farm_competition
ORDER BY YEAR ASC

> Gen:

SELECT Year,
       Theme
FROM farm_competition
ORDER BY Year ASC;

BLEU Score: 0.38163309113713373

[23] Accuracy: 100.0%
> Question: Return of farm competitions, arranged by year in upward order.
> Ground:
SELECT Theme
FROM farm_competition
ORDER BY YEAR ASC

> Gen:

SELECT Year,
       Theme
FROM farm_competition
ORDER BY Year ASC;

BLEU Score: 0.38163309113713373

[24] Accuracy: 100.0%
> Question: What is the average number of horses working on farms with more than 5,000 horses in total?
> Ground:
SELECT avg(Working_Horses)
FROM farm
WHERE Total_Horses > 5000

> Gen:

SELECT AVG(Working_Horses)
FROM farm
WHERE Total_Horses > 5000;

BLEU Score: 0.7292571723872933

[25] Accuracy: 100.0%
> Question: Show the average number of horses working on farms with more than 5,000 horses in total.
> Ground:
SELECT avg(Working_Horses)
FROM farm
WHERE Total_Horses > 5000

> Gen:

SELECT AVG(Working_Horses)
FROM farm
WHERE Total_Horses > 5000;

BLEU Score: 0.7292571723872933

[26] Accuracy: 100.0%
> Question: What is the maximum and minimum number of cows on all farms.
> Ground:
SELECT max(Cows),
       min(Cows)
FROM farm

> Gen:

SELECT MAX(Cows),
       MIN(Cows)
FROM farm;

BLEU Score: 0.49735673561245436

[27] Accuracy: 100.0%
> Question: Return the maximum and minimum number of cows on all farms.
> Ground:
SELECT max(Cows),
       min(Cows)
FROM farm

> Gen:

SELECT MAX(Cows),
       MIN(Cows)
FROM farm;

BLEU Score: 0.49735673561245436

[28] Accuracy: 0.0%
> Question: How many different city situations?
> Ground:
SELECT count(DISTINCT Status)
FROM city

> Gen:

SELECT COUNT(DISTINCT Official_Name)
FROM city;

BLEU Score: 0.43472087194499137

Error during conversion: ChunkedEncodingError(ProtocolError('Response ended prematurely'))

[29] Accuracy: 0.0%
> Question: Number of different cases.
> Ground:
SELECT count(DISTINCT Status)
FROM city

> Gen:

SELECT COUNT(DISTINCT Official_Name)
FROM city
WHERE Official_Name LIKE '%case%';

BLEU Score: 0.2577229450699086

[30] Accuracy: 100.0%
> Question: Show a list of official city names in descending order by population.
> Ground:
SELECT Official_Name
FROM city
ORDER BY Population DESC

> Gen:

SELECT Official_Name,
       Population
FROM city
ORDER BY Population DESC;

BLEU Score: 0.5193071778680676

[31] Accuracy: 100.0%
> Question: What are the official names of cities, ranked downward by population?
> Ground:
SELECT Official_Name
FROM city
ORDER BY Population DESC

> Gen:

SELECT Official_Name,
       Population
FROM city
ORDER BY Population DESC;

BLEU Score: 0.5193071778680676

Error during conversion: ChunkedEncodingError(ProtocolError('Response ended prematurely'))

[32] Accuracy: 100.0%
> Question: Show a list of the official name and status of the city with the highest population.
> Ground:
SELECT Official_Name,
       Status
FROM city
ORDER BY Population DESC
LIMIT 1

> Gen:

SELECT Official_Name,
       Status
FROM city
ORDER BY Population DESC
LIMIT 1;

BLEU Score: 0.912167909070388

[33] Accuracy: 100.0%
> Question: What is the official name and status of the city with the largest population?
> Ground:
SELECT Official_Name,
       Status
FROM city
ORDER BY Population DESC
LIMIT 1

> Gen:

SELECT Official_Name,
       Status
FROM city
ORDER BY Population DESC
LIMIT 1;

BLEU Score: 0.912167909070388

Error during conversion: ChunkedEncodingError(ProtocolError('Response ended prematurely'))

[34] Accuracy: 100.0%
> Question: Show the years and official names of the host cities of the competitions.
> Ground:
SELECT T2.Year,
       T1.Official_Name
FROM city AS T1
JOIN farm_competition AS T2 ON T1.City_ID = T2.Host_city_ID

> Gen:

SELECT Year,
       Official_Name
FROM city
JOIN farm_competition ON city.City_ID = farm_competition.Host_city_ID;

BLEU Score: 0.4492903001150461

[35] Accuracy: 100.0%
> Question: Show the years and official names of the cities of each contest.
> Ground:
SELECT T2.Year,
       T1.Official_Name
FROM city AS T1
JOIN farm_competition AS T2 ON T1.City_ID = T2.Host_city_ID

> Gen:

SELECT T2.Year,
       T1.Official_Name
FROM city AS T1
JOIN farm_competition AS T2 ON T1.City_ID = T2.Host_city_ID

BLEU Score: 1.0

[36] Accuracy: 100.0%
> Question: Show the official names of cities that hosted more than one contest.
> Ground:
SELECT T1.Official_Name
FROM city AS T1
JOIN farm_competition AS T2 ON T1.City_ID = T2.Host_city_ID
GROUP BY T2.Host_city_ID
HAVING COUNT(*) > 1

> Gen:

SELECT T1.Official_Name,
       COUNT(*)
FROM city AS T1
JOIN farm_competition AS T2 ON T1.City_ID = T2.Host_city_ID
GROUP BY T2.Host_city_ID
HAVING COUNT(*) > 1;

BLEU Score: 0.7431801781037469

[37] Accuracy: 100.0%
> Question: What are the official names of cities that hosted more than one contest?
> Ground:
SELECT T1.Official_Name
FROM city AS T1
JOIN farm_competition AS T2 ON T1.City_ID = T2.Host_city_ID
GROUP BY T2.Host_city_ID
HAVING COUNT(*) > 1

> Gen:

SELECT T1.Official_Name,
       COUNT(*)
FROM city AS T1
JOIN farm_competition AS T2 ON T1.City_ID = T2.Host_city_ID
GROUP BY T2.Host_city_ID
HAVING COUNT(*) > 1;

BLEU Score: 0.7431801781037469

[Gen Fail]
 SELECT t1.Official_Name, t2.Area_km_2 FROM city AS t1 JOIN farm_competition AS t2 ON t1.City_ID = t2.Host_city_ID GROUP BY t2.Area_km_2 ORDER BY COUNT(*) DESC LIMIT 1;
[38] Accuracy: 0%
> Question: Show the state of the city that hosted the largest number of competitions.
> Ground:
SELECT T1.Status
FROM city AS T1
JOIN farm_competition AS T2 ON T1.City_ID = T2.Host_city_ID
GROUP BY T2.Host_city_ID
ORDER BY COUNT(*) DESC
LIMIT 1

> Gen:

SELECT t1.Official_Name,
       t2.Area_km_2
FROM city AS t1
JOIN farm_competition AS t2 ON t1.City_ID = t2.Host_city_ID
GROUP BY t2.Area_km_2
ORDER BY COUNT(*) DESC
LIMIT 1;

BLEU Score: 0.39615805576005414

[39] Accuracy: 100.0%
> Question: What's the state of the city that hosted the largest number of competitions?
> Ground:
SELECT T1.Status
FROM city AS T1
JOIN farm_competition AS T2 ON T1.City_ID = T2.Host_city_ID
GROUP BY T2.Host_city_ID
ORDER BY COUNT(*) DESC
LIMIT 1

> Gen:

SELECT t1.Status
FROM city AS t1
JOIN farm_competition AS t2 ON t1.City_ID = t2.Host_city_ID
GROUP BY t2.Host_city_ID
ORDER BY COUNT(*) DESC
LIMIT 1;

BLEU Score: 0.42728700639623407

Error during conversion: ChunkedEncodingError(ProtocolError('Response ended prematurely'))

[Gen Fail]
 SELECT t1.Official_Name, t2.Population FROM city AS t1 JOIN farm_competition AS t2 ON t1.City_ID = t2.Host_city_ID WHERE t2.Population > 1000;
[40] Accuracy: 0%
> Question: The topics of competitions carrying host cities show a population of more than 1,000.
> Ground:
SELECT T2.Theme
FROM city AS T1
JOIN farm_competition AS T2 ON T1.City_ID = T2.Host_city_ID
WHERE T1.Population > 1000

> Gen:

SELECT t1.Official_Name,
       t2.Population
FROM city AS t1
JOIN farm_competition AS t2 ON t1.City_ID = t2.Host_city_ID
WHERE t2.Population > 1000;

BLEU Score: 0.35018262078091933

[41] Accuracy: 100.0%
> Question: What are the themes of the competitions that host cities hold for more than 1,000 inhabitants?
> Ground:
SELECT T2.Theme
FROM city AS T1
JOIN farm_competition AS T2 ON T1.City_ID = T2.Host_city_ID
WHERE T1.Population > 1000

> Gen:

SELECT T2.Theme
FROM city AS T1
JOIN farm_competition AS T2 ON T1.City_ID = T2.Host_city_ID
WHERE T1.Population > 1000;

BLEU Score: 0.9426151476815119

Error during conversion: ChunkedEncodingError(ProtocolError('Response ended prematurely'))

[42] Accuracy: 50.0%
> Question: I present the various cases of cities and the average population of cities in each case.
> Ground:
SELECT Status,
       avg(Population)
FROM city
GROUP BY Status

> Gen:

SELECT Official_Name,
       AVG(Population)
FROM city
GROUP BY Official_Name;

BLEU Score: 0.5008718428920987

Error during conversion: ChunkedEncodingError(ProtocolError('Response ended prematurely'))
/usr/local/lib/python3.10/dist-packages/nltk/translate/bleu_score.py:490: UserWarning:
Corpus/Sentence contains 0 counts of 2-gram overlaps.
BLEU scores might be undesirable; use SmoothingFunction().
  warnings.warn(_msg)

[43] Accuracy: 0.0%
> Question: What are the population situations and averages of each city?
> Ground:
SELECT Status,
       avg(Population)
FROM city
GROUP BY Status

> Gen:

SELECT "City_ID",
       "Official_Name",
       "Status",
       "Area_km_2",
       "Population",
       "Census_Ranking"
FROM "city";

BLEU Score: 0.6744322250214191

Error during conversion: ChunkedEncodingError(ProtocolError('Response ended prematurely'))

[44] Accuracy: 100.0%
> Question: Show different situations, arranged according to the number of cities that occupy each case.
> Ground:
SELECT Status
FROM city
GROUP BY Status
ORDER BY COUNT(*) ASC

> Gen:

SELECT *
FROM city
GROUP BY Official_Name;

BLEU Score: 0.1807288326053167

[Gen Fail]
 SELECT Official_Name, Status, Area_km_2, Population, Census_Ranking FROM city
UNION ALL
SELECT Official_Name, Status, Area_km_2, Population, Census_Ranking FROM farm
ORDER BY Population DESC
[45] Accuracy: 0%
> Question: Return the different situations to the cities, ranked upwards, depending on the frequency.
> Ground:
SELECT Status
FROM city
GROUP BY Status
ORDER BY COUNT(*) ASC

> Gen:

SELECT Official_Name,
       Status,
       Area_km_2,
       Population,
       Census_Ranking
FROM city
UNION ALL
SELECT Official_Name,
       Status,
       Area_km_2,
       Population,
       Census_Ranking
FROM farm
ORDER BY Population DESC

BLEU Score: 0.35616578422306544

[46] Accuracy: 0.0%
> Question: Show a list of the most common type of situation across cities.
> Ground:
SELECT Status
FROM city
GROUP BY Status
ORDER BY COUNT(*) DESC
LIMIT 1

> Gen:

SELECT Official_Name,
       COUNT(*)
FROM city
GROUP BY Official_Name
ORDER BY COUNT(*) DESC
LIMIT 1;

BLEU Score: 0.48485170206034506

[47] Accuracy: 100.0%
> Question: What is the most common situation in all cities?
> Ground:
SELECT Status
FROM city
GROUP BY Status
ORDER BY COUNT(*) DESC
LIMIT 1

> Gen:

SELECT Official_Name,
       Status,
       Area_km_2,
       Population,
       Census_Ranking
FROM city
GROUP BY Official_Name,
         Status,
         Area_km_2,
         Population,
         Census_Ranking
ORDER BY COUNT(*) DESC
LIMIT 1;

BLEU Score: 0.32596921576402016

Error during conversion: ChunkedEncodingError(ProtocolError('Response ended prematurely'))

[48] Accuracy: 100%
> Question: Show a list of official names of cities that have not hosted any competition.
> Ground:
SELECT Official_Name
FROM city
WHERE City_ID NOT IN
    (SELECT Host_city_ID
     FROM farm_competition)

> Gen:

SELECT Official_Name
FROM city
WHERE NOT City_ID IN
    (SELECT Host_city_ID
     FROM farm_competition);

BLEU Score: 0.6729864884660303

[49] Accuracy: 0%
> Question: What are the official names of cities that have not hosted any agricultural competition?
> Ground:
SELECT Official_Name
FROM city
WHERE City_ID NOT IN
    (SELECT Host_city_ID
     FROM farm_competition)

> Gen:

SELECT Official_Name
FROM city
WHERE NOT City_ID IN
    (SELECT Host_city_ID
     FROM farm_competition
     WHERE Theme = 'Agricultural');

BLEU Score: 0.4412994555017375

Error during conversion: ChunkedEncodingError(ProtocolError('Response ended prematurely'))

[50] Accuracy: 0.0%
> Question: Show the common situation between cities with a population of more than 1,500 and less than 500.
> Ground:
SELECT Status
FROM city
WHERE Population > 1500 INTERSECT
  SELECT Status
  FROM city WHERE Population < 500

> Gen:

SELECT *
FROM city
WHERE Population > 1500 INTERSECT
  SELECT *
  FROM city WHERE Population < 500;

BLEU Score: 0.6654377827941901

[51] Accuracy: 0.0%
> Question: What are the cases that are proportional to cities with a population of more than 1,500 and a population of less than 500?
> Ground:
SELECT Status
FROM city
WHERE Population > 1500 INTERSECT
  SELECT Status
  FROM city WHERE Population < 500

> Gen:

SELECT Official_Name,
       Population
FROM city
WHERE Population > 1500000000
UNION ALL
SELECT Official_Name,
       Population
FROM city
WHERE Population < 500000000;

BLEU Score: 0.32267897362950676

[52] Accuracy: 100.0%
> Question: Find the official names of cities with a population of more than 1,500 or less than 500.
> Ground:
SELECT Official_Name
FROM city
WHERE Population > 1500
  OR Population < 500

> Gen:

SELECT Official_Name
FROM city
WHERE Population > 1500
  OR Population < 500;

BLEU Score: 0.912167909070388

Error during conversion: ChunkedEncodingError(ProtocolError('Response ended prematurely'))

[53] Accuracy: 100.0%
> Question: What are the official names of cities with a population of more than 1,500 or less than 500?
> Ground:
SELECT Official_Name
FROM city
WHERE Population > 1500
  OR Population < 500

> Gen:

SELECT Official_Name
FROM city
WHERE Population > 1500
  OR Population < 500;

BLEU Score: 0.912167909070388

[54] Accuracy: 0.0%
> Question: Show the order of the population census of cities that are not "Village."
> Ground:
SELECT Census_Ranking
FROM city
WHERE Status != "Village"

> Gen:

SELECT Official_Name,
       Population
FROM city
WHERE Status <> 'Village';

BLEU Score: 0.2044800736021839

[55] Accuracy: 100.0%
> Question: What are the census arrangements for cities that do not have a "Village" situation?
> Ground:
SELECT Census_Ranking
FROM city
WHERE Status != "Village"

> Gen:

SELECT Census_Ranking
FROM city
WHERE Status <> "Village";

BLEU Score: 0.53107253497887

[Gen Fail]
 SELECT T1.course_name, T2.student_details
FROM Courses AS T1
JOIN Student_Course_Registrations AS T2 ON T1.course_id = T2.course_id
GROUP BY T1.course_name
ORDER BY COUNT(*) DESC
LIMIT 1;
[56] Accuracy: 0%
> Question: Which course has the highest number of registered students?
> Ground:
SELECT T1.course_name
FROM courses AS T1
JOIN student_course_registrations AS T2 ON T1.course_id = T2.course_Id
GROUP BY T1.course_id
ORDER BY count(*) DESC
LIMIT 1

> Gen:

SELECT T1.course_name,
       T2.student_details
FROM Courses AS T1
JOIN Student_Course_Registrations AS T2 ON T1.course_id = T2.course_id
GROUP BY T1.course_name
ORDER BY COUNT(*) DESC
LIMIT 1;

BLEU Score: 0.37899069309313566

Error during conversion: ChunkedEncodingError(ProtocolError('Response ended prematurely'))

[57] Accuracy: 0.0%
> Question: What's the name of the course that has the highest number of registered students?
> Ground:
SELECT T1.course_name
FROM courses AS T1
JOIN student_course_registrations AS T2 ON T1.course_id = T2.course_Id
GROUP BY T1.course_id
ORDER BY count(*) DESC
LIMIT 1

> Gen:

SELECT T1.course_name,
       T2.student_id
FROM Courses AS T1
JOIN Student_Course_Registrations AS T2 ON T1.course_id = T2.course_id
GROUP BY T1.course_name,
         T2.student_id
ORDER BY COUNT(*) DESC
LIMIT 1;

BLEU Score: 0.3532580652146734

/usr/local/lib/python3.10/dist-packages/nltk/translate/bleu_score.py:490: UserWarning:
Corpus/Sentence contains 0 counts of 4-gram overlaps.
BLEU scores might be undesirable; use SmoothingFunction().
  warnings.warn(_msg)

[58] Accuracy: 0.0%
> Question: What is the number of students enrolled in some courses but the lowest number of courses among these students?
> Ground:
SELECT student_id
FROM student_course_registrations
GROUP BY student_id
ORDER BY count(*)
LIMIT 1

> Gen:

SELECT MIN(num_enrolled)
FROM
  (SELECT COUNT(*) as num_enrolled
   FROM Student_Course_Registrations
   GROUP BY student_id)

BLEU Score: 0.3110147370806324

Error during conversion: ChunkedEncodingError(ProtocolError('Response ended prematurely'))

[59] Accuracy: 100.0%
> Question: What are the identification numbers of students who enrolled in some courses but had the lowest number of courses among all students?
> Ground:
SELECT student_id
FROM student_course_registrations
GROUP BY student_id
ORDER BY count(*)
LIMIT 1

> Gen:

SELECT T1.student_id
FROM Students AS T1
JOIN Student_Course_Registrations AS T2 ON T1.student_id = T2.student_id
GROUP BY T1.student_id
ORDER BY COUNT(*) NULLS FIRST
LIMIT 1;

BLEU Score: 0.22999420127096487

[60] Accuracy: 100.0%
> Question: What are the first and last names of all candidates?
> Ground:
SELECT T2.first_name,
       T2.last_name
FROM candidates AS T1
JOIN people AS T2 ON T1.candidate_id = T2.person_id

> Gen:

SELECT T2.first_name,
       T2.last_name
FROM Candidates AS T1
JOIN People AS T2 ON T1.candidate_id = T2.person_id;

BLEU Score: 0.573057404379869

[61] Accuracy: 100.0%
> Question: What are the first and last names of all candidates?
> Ground:
SELECT T2.first_name,
       T2.last_name
FROM candidates AS T1
JOIN people AS T2 ON T1.candidate_id = T2.person_id

> Gen:

SELECT T2.first_name,
       T2.last_name
FROM Candidates AS T1
JOIN People AS T2 ON T1.candidate_id = T2.person_id;

BLEU Score: 0.573057404379869

Error during conversion: ChunkedEncodingError(ProtocolError('Response ended prematurely'))

[62] Accuracy: 100.0%
> Question: Show a list of identification numbers for students who didn't attend any courses?
> Ground:
SELECT student_id
FROM students
WHERE student_id NOT IN
    (SELECT student_id
     FROM student_course_attendance)

> Gen:

SELECT student_id
FROM Students
EXCEPT
SELECT student_id
FROM Student_Course_Attendance;

BLEU Score: 0.3406115671352173

Error during conversion: ChunkedEncodingError(ProtocolError('Response ended prematurely'))

[63] Accuracy: 100.0%
> Question: What are the identification numbers for all the students who didn't attend any course?
> Ground:
SELECT student_id
FROM students
WHERE student_id NOT IN
    (SELECT student_id
     FROM student_course_attendance)

> Gen:

SELECT student_id
FROM Students
EXCEPT
SELECT student_id
FROM Student_Course_Attendance;

BLEU Score: 0.3406115671352173

/usr/local/lib/python3.10/dist-packages/nltk/translate/bleu_score.py:490: UserWarning:
Corpus/Sentence contains 0 counts of 2-gram overlaps.
BLEU scores might be undesirable; use SmoothingFunction().
  warnings.warn(_msg)

[64] Accuracy: 100.0%
> Question: Show a list of identification numbers for students who attended some courses?
> Ground:
SELECT student_id
FROM student_course_attendance

> Gen:

SELECT T1.student_id,
       T2.course_id
FROM Students AS T1
JOIN Student_Course_Attendance AS T2 ON T1.student_id = T2.student_id;

BLEU Score: 0.5856596027429395

Error during conversion: ChunkedEncodingError(ProtocolError('Response ended prematurely'))
/usr/local/lib/python3.10/dist-packages/nltk/translate/bleu_score.py:490: UserWarning:
Corpus/Sentence contains 0 counts of 3-gram overlaps.
BLEU scores might be undesirable; use SmoothingFunction().
  warnings.warn(_msg)

[65] Accuracy: 75.0%
> Question: What are the identification numbers for all students who attended at least one session?
> Ground:
SELECT student_id
FROM student_course_attendance

> Gen:

SELECT DISTINCT student_id
FROM Student_Course_Attendance;

BLEU Score: 0.5623413251903491

[66] Accuracy: 100.0%
> Question: What are the identification numbers of all students for courses and what are the names of those courses?
> Ground:
SELECT T1.student_id,
       T2.course_name
FROM student_course_registrations AS T1
JOIN courses AS T2 ON T1.course_id = T2.course_id

> Gen:

SELECT T1.student_id,
       T2.course_name
FROM Student_Course_Registrations AS T1
JOIN Courses AS T2 ON T1.course_id = T2.course_id;

BLEU Score: 0.573057404379869

[67] Accuracy: 100.0%
> Question: What are the details of the student who scored at the last course?
> Ground:
SELECT T2.student_details
FROM student_course_registrations AS T1
JOIN students AS T2 ON T1.student_id = T2.student_id
ORDER BY T1.registration_date DESC
LIMIT 1

> Gen:

SELECT *
FROM Students
WHERE student_id IN
    (SELECT student_id
     FROM Student_Course_Registrations
     WHERE course_id =
         (SELECT course_id
          FROM Courses
          ORDER BY course_name DESC
          LIMIT 1));

BLEU Score: 0.18189587992135595

/usr/local/lib/python3.10/dist-packages/nltk/translate/bleu_score.py:490: UserWarning:
Corpus/Sentence contains 0 counts of 2-gram overlaps.
BLEU scores might be undesirable; use SmoothingFunction().
  warnings.warn(_msg)

[68] Accuracy: 0.0%
> Question: What details do we have on the students who've been in courses lately?
> Ground:
SELECT T2.student_details
FROM student_course_registrations AS T1
JOIN students AS T2 ON T1.student_id = T2.student_id
ORDER BY T1.registration_date DESC
LIMIT 1

> Gen:

SELECT *
FROM Students
WHERE student_id IN
    (SELECT student_id
     FROM Student_Course_Registrations
     WHERE registration_date > '2020-01-01');

BLEU Score: 0.5403952143993433

[69] Accuracy: 100.0%
> Question: How many students attend the English course?
> Ground:
SELECT count(*)
FROM courses AS T1
JOIN student_course_attendance AS T2 ON T1.course_id = T2.course_id
WHERE T1.course_name = "English"

> Gen:

SELECT COUNT(*)
FROM Students s
JOIN Student_Course_Attendance sca ON s.student_id = sca.student_id
JOIN Courses c ON sca.course_id = c.course_id
WHERE c.course_name = 'English';

BLEU Score: 0.10511846841633776

[70] Accuracy: 100.0%
> Question: How many students attend English courses?
> Ground:
SELECT count(*)
FROM courses AS T1
JOIN student_course_attendance AS T2 ON T1.course_id = T2.course_id
WHERE T1.course_name = "English"

> Gen:

SELECT COUNT(*)
FROM Students s
JOIN Student_Course_Attendance sca ON s.student_id = sca.student_id
JOIN Courses c ON sca.course_id = c.course_id
WHERE c.course_name = 'English';

BLEU Score: 0.10511846841633776

[71] Accuracy: 100.0%
> Question: How many courses does a student with 171 attend?
> Ground:
SELECT count(*)
FROM courses AS T1
JOIN student_course_attendance AS T2 ON T1.course_id = T2.course_id
WHERE T2.student_id = 171

> Gen:

SELECT COUNT(*)
FROM Student_Course_Attendance
WHERE student_id = 171;

BLEU Score: 0.12797349236730318

[72] Accuracy: 100.0%
> Question: How many courses does a student with 171 actually attend?
> Ground:
SELECT count(*)
FROM courses AS T1
JOIN student_course_attendance AS T2 ON T1.course_id = T2.course_id
WHERE T2.student_id = 171

> Gen:

SELECT COUNT(*)
FROM Student_Course_Attendance
WHERE student_id = 171;

BLEU Score: 0.12797349236730318

[73] Accuracy: 100.0%
> Question: Find my identification number for the candidate with the e-mail stanley.monahan@example.org?
> Ground:
SELECT T2.candidate_id
FROM people AS T1
JOIN candidates AS T2 ON T1.person_id = T2.candidate_id
WHERE T1.email_address = "stanley.monahan@example.org"

> Gen:

SELECT T2.candidate_id
FROM People AS T1
JOIN Candidates AS T2 ON T1.person_id = T2.candidate_id
WHERE T1.email_address = 'stanley.monahan@example.org'

BLEU Score: 0.5119139560355037

Error during conversion: ChunkedEncodingError(ProtocolError('Response ended prematurely'))

[74] Accuracy: 100.0%
> Question: What is the identification number of the candidate holding the e-mail stanley.monahan@example.org?
> Ground:
SELECT T2.candidate_id
FROM people AS T1
JOIN candidates AS T2 ON T1.person_id = T2.candidate_id
WHERE T1.email_address = "stanley.monahan@example.org"

> Gen:

SELECT T2.candidate_id
FROM People AS T1
JOIN Candidates AS T2 ON T1.person_id = T2.candidate_id
WHERE T1.email_address = 'stanley.monahan@example.org'

BLEU Score: 0.5119139560355037

[Gen Fail]
 SELECT T2.candidate_id, T2.candidate_details FROM Student_Course_Registrations AS T1 JOIN Candidates AS T2 ON T1.candidate_id = T2.candidate_id WHERE T1.registration_date = (SELECT MAX(registration_date) FROM Student_Course_Registrations) ;
[75] Accuracy: 0%
> Question: Find my identification number, the candidate who recently arrived at the course?
> Ground:
SELECT candidate_id
FROM candidate_assessments
ORDER BY assessment_date DESC
LIMIT 1

> Gen:

SELECT T2.candidate_id,
       T2.candidate_details
FROM Student_Course_Registrations AS T1
JOIN Candidates AS T2 ON T1.candidate_id = T2.candidate_id
WHERE T1.registration_date =
    (SELECT MAX(registration_date)
     FROM Student_Course_Registrations) ;

BLEU Score: 0.5124576721246791

[Gen Fail]
 SELECT candidate_id, qualification, assessment_date, asessment_outcome_code
FROM Candidate_Assessments
WHERE assessment_outcome_code = 'RecentArrival';
[76] Accuracy: 0%
> Question: What's the number for the candidate who recently arrived at the course?
> Ground:
SELECT candidate_id
FROM candidate_assessments
ORDER BY assessment_date DESC
LIMIT 1

> Gen:

SELECT candidate_id,
       qualification,
       assessment_date,
       asessment_outcome_code
FROM Candidate_Assessments
WHERE assessment_outcome_code = 'RecentArrival';

BLEU Score: 0.35930411196308426

/usr/local/lib/python3.10/dist-packages/nltk/translate/bleu_score.py:490: UserWarning:
Corpus/Sentence contains 0 counts of 3-gram overlaps.
BLEU scores might be undesirable; use SmoothingFunction().
  warnings.warn(_msg)
Error during conversion: ChunkedEncodingError(ProtocolError('Response ended prematurely'))

[77] Accuracy: 100.0%
> Question: What are the details of the student who scored the highest number of courses?
> Ground:
SELECT T1.student_details
FROM students AS T1
JOIN student_course_registrations AS T2 ON T1.student_id = T2.student_id
GROUP BY T1.student_id
ORDER BY count(*) DESC
LIMIT 1

> Gen:

SELECT T1.student_details
FROM Students AS T1
JOIN Student_Course_Registrations AS T2 ON T1.student_id = T2.student_id
GROUP BY T1.student_id
ORDER BY COUNT(*) DESC
LIMIT 1;

BLEU Score: 0.6432343886784389

[78] Accuracy: 100.0%
> Question: What are the details of the student who scored for the largest number of courses?
> Ground:
SELECT T1.student_details
FROM students AS T1
JOIN student_course_registrations AS T2 ON T1.student_id = T2.student_id
GROUP BY T1.student_id
ORDER BY count(*) DESC
LIMIT 1

> Gen:

SELECT T1.student_details
FROM Students AS T1
JOIN Student_Course_Registrations AS T2 ON T1.student_id = T2.student_id
GROUP BY T1.student_id
ORDER BY COUNT(*) DESC
LIMIT 1;

BLEU Score: 0.6432343886784389

/usr/local/lib/python3.10/dist-packages/nltk/translate/bleu_score.py:490: UserWarning:
Corpus/Sentence contains 0 counts of 4-gram overlaps.
BLEU scores might be undesirable; use SmoothingFunction().
  warnings.warn(_msg)

[79] Accuracy: 100.0%
> Question: A list of students enrolled in some courses and the number of courses registered?
> Ground:
SELECT T1.student_id,
       count(*)
FROM students AS T1
JOIN student_course_registrations AS T2 ON T1.student_id = T2.student_id
GROUP BY T1.student_id

> Gen:

SELECT T1.student_id,
       T2.course_name
FROM Student_Course_Registrations AS T1
JOIN Courses AS T2 ON T1.course_id = T2.course_id;

BLEU Score: 0.34975794263351634

Error during conversion: ChunkedEncodingError(ProtocolError('Response ended prematurely'))

[80] Accuracy: 100.0%
> Question: For each student enrolled in some courses, how many courses did they register?
> Ground:
SELECT T1.student_id,
       count(*)
FROM students AS T1
JOIN student_course_registrations AS T2 ON T1.student_id = T2.student_id
GROUP BY T1.student_id

> Gen:

SELECT T1.student_id,
       COUNT(*)
FROM Students AS T1
JOIN Student_Course_Registrations AS T2 ON T1.student_id = T2.student_id
GROUP BY T1.student_id;

BLEU Score: 0.5668706143897174

[81] Accuracy: 100.0%
> Question: How many students are enrolled in each course? List of course names and number of students enrolled?
> Ground:
SELECT T3.course_name,
       count(*)
FROM students AS T1
JOIN student_course_registrations AS T2 ON T1.student_id = T2.student_id
JOIN courses AS T3 ON T2.course_id = T3.course_id
GROUP BY T2.course_id

> Gen:

SELECT T3.course_name,
       COUNT(*) as num_students
FROM Student_Course_Registrations AS T1
JOIN Students AS T2 ON T1.student_id = T2.student_id
JOIN Courses AS T3 ON T1.course_id = T3.course_id
GROUP BY T1.course_id;

BLEU Score: 0.3887935007575172

[82] Accuracy: 100.0%
> Question: For each I.D. course, how many students are enrolled and what are the names of the courses?
> Ground:
SELECT T3.course_name,
       count(*)
FROM students AS T1
JOIN student_course_registrations AS T2 ON T1.student_id = T2.student_id
JOIN courses AS T3 ON T2.course_id = T3.course_id
GROUP BY T2.course_id

> Gen:

SELECT T1.course_name,
       COUNT(*)
FROM Courses AS T1
JOIN Student_Course_Registrations AS T2 ON T1.course_id = T2.course_id
GROUP BY T1.course_id;

BLEU Score: 0.1634146382871193

Error during conversion: ChunkedEncodingError(ProtocolError('Response ended prematurely'))

[83] Accuracy: 100.0%
> Question: Look for identification numbers for candidates with the "Pass" rating code?
> Ground:
SELECT candidate_id
FROM candidate_assessments
WHERE asessment_outcome_code = "Pass"

> Gen:

SELECT candidate_id,
       qualification
FROM Candidate_Assessments
WHERE asessment_outcome_code = "Pass"

BLEU Score: 0.4832697830906221

Error during conversion: ChunkedEncodingError(ProtocolError('Response ended prematurely'))

[84] Accuracy: 100.0%
> Question: What are the identification numbers of candidates with the "Pass" result code?
> Ground:
SELECT candidate_id
FROM candidate_assessments
WHERE asessment_outcome_code = "Pass"

> Gen:

SELECT candidate_id
FROM Candidate_Assessments
WHERE asessment_outcome_code = 'Pass';

BLEU Score: 0.5081327481546147

Error during conversion: ChunkedEncodingError(ProtocolError('Response ended prematurely'))

[85] Accuracy: 0.0%
> Question: Find the mobile number for candidates with the "Fail" rating code?
> Ground:
SELECT T3.cell_mobile_number
FROM candidates AS T1
JOIN candidate_assessments AS T2 ON T1.candidate_id = T2.candidate_id
JOIN people AS T3 ON T1.candidate_id = T3.person_id
WHERE T2.asessment_outcome_code = "Fail"

> Gen:

SELECT T2.cell_mobile_number
FROM Candidates AS T1
JOIN People AS T2 ON T1.candidate_id = T2.person_id
WHERE T1.candidate_details LIKE '%Fail%'

BLEU Score: 0.1822028971219069

Error during conversion: ChunkedEncodingError(ProtocolError('Response ended prematurely'))

[86] Accuracy: 0.0%
> Question: What are the cell phone numbers for candidates who got the "Fail" rating code?
> Ground:
SELECT T3.cell_mobile_number
FROM candidates AS T1
JOIN candidate_assessments AS T2 ON T1.candidate_id = T2.candidate_id
JOIN people AS T3 ON T1.candidate_id = T3.person_id
WHERE T2.asessment_outcome_code = "Fail"

> Gen:

SELECT T2.cell_mobile_number
FROM Candidates AS T1
JOIN People AS T2 ON T1.candidate_id = T2.person_id
WHERE T1.candidate_details LIKE "%Fail%"

BLEU Score: 0.18936162665282216

Error during conversion: ChunkedEncodingError(ProtocolError('Response ended prematurely'))
/usr/local/lib/python3.10/dist-packages/nltk/translate/bleu_score.py:490: UserWarning:
Corpus/Sentence contains 0 counts of 2-gram overlaps.
BLEU scores might be undesirable; use SmoothingFunction().
  warnings.warn(_msg)

[87] Accuracy: 100.0%
> Question: What are the identification numbers of the students enrolled in the 301st course?
> Ground:
SELECT student_id
FROM student_course_attendance
WHERE course_id = 301

> Gen:

SELECT T1.student_id
FROM Students AS T1
JOIN Student_Course_Registrations AS T2 ON T1.student_id = T2.student_id
JOIN Courses AS T3 ON T2.course_id = T3.course_id
WHERE T3.course_id = '301';

BLEU Score: 0.6147881529512643

[88] Accuracy: 100.0%
> Question: What are the identification numbers of the students enrolled in the 301st course?
> Ground:
SELECT student_id
FROM student_course_attendance
WHERE course_id = 301

> Gen:

SELECT T1.student_id
FROM Students AS T1
JOIN Student_Course_Registrations AS T2 ON T1.student_id = T2.student_id
JOIN Courses AS T3 ON T2.course_id = T3.course_id
WHERE T3.course_id = '301';

BLEU Score: 0.6147881529512643

Error during conversion: ChunkedEncodingError(ProtocolError('Response ended prematurely'))
/usr/local/lib/python3.10/dist-packages/nltk/translate/bleu_score.py:490: UserWarning:
Corpus/Sentence contains 0 counts of 4-gram overlaps.
BLEU scores might be undesirable; use SmoothingFunction().
  warnings.warn(_msg)

[89] Accuracy: 0.0%
> Question: What's the number for the student who's been enrolled in the 301st course lately?
> Ground:
SELECT student_id
FROM student_course_attendance
WHERE course_id = 301
ORDER BY date_of_attendance DESC
LIMIT 1

> Gen:

SELECT COUNT(*)
FROM Students
WHERE student_id IN
    (SELECT student_id
     FROM Student_Course_Registrations
     WHERE course_id = '301'
       AND registration_date =
         (SELECT MAX(registration_date)
          FROM Student_Course_Registrations
          WHERE course_id = '301'));

BLEU Score: 0.17200767571780612

/usr/local/lib/python3.10/dist-packages/nltk/translate/bleu_score.py:490: UserWarning:
Corpus/Sentence contains 0 counts of 2-gram overlaps.
BLEU scores might be undesirable; use SmoothingFunction().
  warnings.warn(_msg)

[90] Accuracy: 0.0%
> Question: What are the identification numbers for students who have recently enrolled in the 301st course?
> Ground:
SELECT student_id
FROM student_course_attendance
WHERE course_id = 301
ORDER BY date_of_attendance DESC
LIMIT 1

> Gen:

SELECT T1.student_id
FROM Students AS T1
JOIN Student_Course_Registrations AS T2 ON T1.student_id = T2.student_id
JOIN Courses AS T3 ON T2.course_id = T3.course_id
WHERE T3.course_name = "Introduction to SQL"
  AND T2.registration_date > "2022-01-01"
  AND T2.registration_date < "2022-03-01";

BLEU Score: 0.5522654621332111

Error during conversion: ChunkedEncodingError(ProtocolError('Response ended prematurely'))

[91] Accuracy: 100.0%
> Question: Looking for different cities for people's addresses?
> Ground:
SELECT DISTINCT T1.city
FROM addresses AS T1
JOIN people_addresses AS T2 ON T1.address_id = T2.address_id

> Gen:

SELECT DISTINCT T1.city
FROM Addresses AS T1
JOIN People_Addresses AS T2 ON T1.address_id = T2.address_id;

BLEU Score: 0.537284965911771

[92] Accuracy: 100.0%
> Question: What different cities do people live in?
> Ground:
SELECT DISTINCT T1.city
FROM addresses AS T1
JOIN people_addresses AS T2 ON T1.address_id = T2.address_id

> Gen:

SELECT DISTINCT T1.city
FROM Addresses AS T1
JOIN People_Addresses AS T2 ON T1.address_id = T2.address_id;

BLEU Score: 0.537284965911771

[93] Accuracy: 0.0%
> Question: Looking for different cities for student addresses?
> Ground:
SELECT DISTINCT T1.city
FROM addresses AS T1
JOIN people_addresses AS T2 ON T1.address_id = T2.address_id
JOIN students AS T3 ON T2.person_id = T3.student_id

> Gen:

SELECT DISTINCT T1.city
FROM Addresses AS T1
JOIN People_Addresses AS T2 ON T1.address_id = T2.address_id
JOIN Students AS T3 ON T2.person_id = T3.student_id
WHERE T3.student_details LIKE '%internet%'
  AND T1.city <> 'New York';

BLEU Score: 0.35319715421854103

[94] Accuracy: 100.0%
> Question: What different cities do students live in?
> Ground:
SELECT DISTINCT T1.city
FROM addresses AS T1
JOIN people_addresses AS T2 ON T1.address_id = T2.address_id
JOIN students AS T3 ON T2.person_id = T3.student_id

> Gen:

SELECT DISTINCT T1.city
FROM Addresses AS T1
JOIN People_Addresses AS T2 ON T1.address_id = T2.address_id
JOIN Students AS T3 ON T2.person_id = T3.student_id;

BLEU Score: 0.5891285089649849

/usr/local/lib/python3.10/dist-packages/nltk/translate/bleu_score.py:490: UserWarning:
Corpus/Sentence contains 0 counts of 4-gram overlaps.
BLEU scores might be undesirable; use SmoothingFunction().
  warnings.warn(_msg)

[95] Accuracy: 100.0%
> Question: Show a list of course names in alphabetical order?
> Ground:
SELECT course_name
FROM courses
ORDER BY course_name

> Gen:

SELECT course_name
FROM Courses
ORDER BY course_name;

BLEU Score: 0.6147881529512643

[96] Accuracy: 100.0%
> Question: What are the names of the courses in alphabetical order?
> Ground:
SELECT course_name
FROM courses
ORDER BY course_name

> Gen:

SELECT course_name
FROM Courses
ORDER BY course_name;

BLEU Score: 0.6147881529512643

[97] Accuracy: 100.0%
> Question: A list of first names in alphabetical order?
> Ground:
SELECT first_name
FROM people
ORDER BY first_name

> Gen:

SELECT first_name
FROM People
ORDER BY first_name;

BLEU Score: 0.6147881529512643

Error during conversion: ChunkedEncodingError(ProtocolError('Response ended prematurely'))

[98] Accuracy: 100.0%
> Question: What are the names of the first people in alphabetical order?
> Ground:
SELECT first_name
FROM people
ORDER BY first_name

> Gen:

SELECT first_name,
       last_name
FROM People
ORDER BY first_name,
         last_name;

BLEU Score: 0.34172334076593075

[99] Accuracy: 100.0%
> Question: What are the identification numbers of students who have recorded or attended courses?
> Ground:
SELECT student_id
FROM student_course_registrations
UNION
SELECT student_id
FROM student_course_attendance

> Gen:

SELECT student_id
FROM Student_Course_Registrations
UNION
SELECT student_id
FROM Student_Course_Attendance;

BLEU Score: 0.37991784282579627

Final Execution Accuracy: 69.65%
Final BLEU Score: 0.4698313105174533